# ========== 数据库 ==========
DATABASE_HOST=
DATABASE_PORT=
DATABASE=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# ========== github oauth2 ==========
GITHUB_OAUTH2_CLIENT_ID=
GITHUB_OAUTH2_CLIENT_SECRET=

# ========== cors ==========
CORS_HOST=
